@model IEnumerable<FitFlickWebApp.Models.Advertisement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="ad-list-container">
    @Html.Partial("AdList", Model)
</div>

